{{#if resume.references.length}}
<section class="section">
  <header>
    <h2 class='section-title'>Referees</h2>
  </header>
  <section id="references">
    {{#each resume.references}}
    <div class="item">
      {{#if name}}
      <div class="name">
        {{name}}
      </div>
      {{/if}}
      {{#if reference}}
        {{ paragraphSplit reference }}
      {{/if}}
    </div>
    {{/each}}
  </section>
</section>
{{/if}}
